---
import Container from "./Container.astro";
import Link from "./Link.astro";
import Logo from "./Logo.astro";
import "@fontsource/pacifico";

const navItems = [
  { href: "/", title: "Home" },
  { href: "/services", title: "Services" },
  { href: "/about", title: "About" },
  { href: "/contact", title: "Contact" },
];
---

<header>
  <Container>
    <div class="container">
      <Logo />
      <nav class="desktop-menu">
        {navItems.map((item) => <Link href={item.href} title={item.title} />)}
        <a class="get-quote" href="/contact"> Get Quote </a>
      </nav>
      <div id="menu-toggle" class="menu">
        <i id="menu-icon" class="ri-menu-line menu-icon"></i>
      </div>
    </div>
    <div id="mobile-menu" class="mobile-menu">
      {navItems.map((item) => <Link href={item.href} title={item.title} />)}
      <a class="get-quote" href="/contact"> Get Quote </a>
    </div>
  </Container>
</header>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const menuToggle = document.getElementById("menu-toggle");
    const mobileMenu = document.getElementById("mobile-menu");
    const menuIcon = document.getElementById("menu-icon");

    if (menuToggle && mobileMenu && menuIcon) {
      menuToggle.addEventListener("click", () => {
        mobileMenu.classList.toggle("open");
        menuIcon.classList.toggle("ri-menu-line");
        menuIcon.classList.toggle("ri-close-line");
      });
    }
  });
</script>

<style>
  header {
    position: sticky;
    top: 0;
    z-index: 50;
    background: white;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
  }

  .desktop-menu {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .get-quote {
    background-color: #2563eb;
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 9999px;
    text-decoration: none;
    white-space: nowrap;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .get-quote:hover {
    background-color: #1d4ed8;
  }

  .menu {
    cursor: pointer;
    display: none;
  }

  .menu-icon {
    font-size: 1.5rem;
  }

  .menu-icon:hover {
    color: #2563eb;
  }

  .mobile-menu {
    display: none;
  }

  .mobile-menu.open {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    padding-bottom: 0.75rem;
  }

  @media (max-width: 768px) {
    .desktop-menu {
      display: none;
    }

    .menu {
      display: block;
    }

    .get-quote {
      border-radius: 0.5rem;
      font-size: 1rem;
      padding-left: 0.8rem;
    }
  }

  @media (min-width: 769px) {
    .mobile-menu {
      display: none !important;
    }

    .mobile-menu.open {
      display: none !important;
    }
  }
</style>
