<a class="logo" href="/"> creativewebsolutions </a>

<style>
  .logo {
    font-family: "Pacifico", cursive;
    font-size: 1.875rem;
    line-height: 2.25rem;
    color: #2563eb;
    text-decoration: none;
  }
</style>
