---
const { title, description, alignLeft = false } = Astro.props;
---

<div class="header" style=`text-align: ${alignLeft ? 'left' : 'center'}`>
  <h2 class="title">{title}</h2>
  <p class="description">{description}</p>
</div>

<style>
  .header {
    margin-bottom: 4rem;
  }

  .title {
    font-size: 3rem;
    margin-bottom: 1.5rem;
    color: #111827;
  }

  .description {
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: #4b5563;
    margin-bottom: 2rem;
    opacity: 0.8;
    max-width: 48rem;
    margin-left: auto;
    margin-right: auto;
  }
</style>
