---
import Container from "../../components/Container.astro";

const { title, description } = Astro.props;
---

<section class="cta-section">
  <Container>
    <h2 class="section-title">{title}</h2>
    <p class="section-description">
      {description}
    </p>
    <slot />
  </Container>
</section>

<style>
  .cta-section {
    background-color: #2563eb;
    color: white;
    padding: 4rem 0;
    text-align: center;
  }

  .section-title {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }

  .section-description {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 300;
    max-width: 48rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
  }
</style>
